* {
    padding: 0;
    margin: 0;
   
}
body{
    background-image: url('wl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    
    height: 100vh;

}



.display {
    padding-top: 5%;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 2px solid rgb(171, 170, 160);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #61d4a2;
}

.playerO {
    color: #f5fb49;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #b671f3;
}

#reset {
    background-color: #7b7274;
}